<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// TypeScript Components </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// Vue components are represented as </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// TypeScript classes allowing easy </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// inheritance from other classes.</span>
	</div>

	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- while (!succeed) { -->
	<div class="code__line">
		<span class="code__keyword">class</span> NavComponent <span class="code__keyword">extends</span> AbstractComponent
	</div>
	<div class="code__line">
		<span class="code__brace">{</span>
	</div>
	<div class="code__line">
		&nbsp;&nbsp;<span class="code__keyword">public</span> <span class="code__property">title: </span><span class="code__keyword">string</span> = <span class="code__string">"Hello, World!</span><span class="code__semi-colon">;</span>
	</div>
	<div class="code__line">
		&nbsp;&nbsp;...
	</div>
	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/routing" class="computer__screen-cta">Next</router-link>
</div>
