<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// Vue.js & Phusion </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// A lightweight Vue.js wrapper written in </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// TypeScript. Powered by the Phusion</span>
	</div>
	<div class="code__line">
		<span class="code__comment">// library.</span>
	</div>


	<!-- Empty line -->
	<div class="code__line"></div>
	<div class="code__line">
		<span class="code__keyword">let</span> phusion = <span class="code__keyword">new</span> Phusion<span class="parens">(</span>config<span class="parens">)</span><span class="code__semi-colon">;</span>
	</div>
	<div class="code__line">
		<span class="code__keyword">let</span> app = <span class="code__keyword">new</span> VueJsApp<span class="parens">(</span>phusion<span class="parens">)</span><span class="code__semi-colon">;</span>
	</div>
	<div class="code__line">
		app.<span class="code__function">init</span><span class="parens">(</span><span class="parens">)</span><span class="code__semi-colon">;</span>
	</div>
	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/components" class="computer__screen-cta">Next</router-link>
</div>
