<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// Happy coding! </span>
	</div>

	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- while (!succeed) { -->
	<div class="code__line">
		<span class="code__keyword">while</span>
		<span class="code__parens">(</span>!succeed<span class="code__parens">)</span>
		<span class="code__brace">{</span>
	</div>
	<!-- tryAgain(); -->
	<div class="code__line">
		<span class="code__space">&nbsp;</span>
		<span class="code__function">tryAgain</span><span class="parens">(</span><span class="parens">)</span><span class="code__semi-colon">;</span>
	</div>
	<!-- } -->
	<div class="code__line">
		<span class="code__brace">}</span>
	</div>
	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/welcome" class="computer__screen-cta">Reset</router-link>
</div>
