<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// Routing </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// Routes defined in the .yaml config files</span>
	</div>
	<div class="code__line">
		<span class="code__comment">// are loaded and registered with vue-router.</span>
	</div>

	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- while (!succeed) { -->
	<div class="code__line">
		<span class="code__keyword">phusion</span>:
	</div>
	<div class="code__line">
		&nbsp;&nbsp;<span class="code__keyword">routes</span>:
	</div>
	<div class="code__line">
		&nbsp;&nbsp;&nbsp;&nbsp;- <span class="code__keyword">path</span>: <span class="code__string">"/welcome"</span>
	</div>
	<div class="code__line">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code__keyword">component</span>: <span class="code__string">"WelcomePageComponent"</span>
	</div>
	<div class="code__line">
		...
	</div>

	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/gulpfile" class="computer__screen-cta">Next</router-link>

</div>
