<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// You're all set! </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// This project includes everything you </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// need to get started including a gulpfile</span>
	</div>
	<div class="code__line">
		<span class="code__comment">// and a dev server with live reloading. </span>
	</div>

	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- while (!succeed) { -->
	<div class="code__line">
		<span class="code__keyword">if</span>
		<span class="code__parens">(</span>readyToStart<span class="code__parens">)</span>
		<span class="code__brace">{</span>
	</div>
	<!-- tryAgain(); -->
	<div class="code__line">
		<span class="code__space">&nbsp;</span>
		<span class="code__function">clickNext</span><span class="parens">(</span><span class="parens">)</span><span class="code__semi-colon">;</span>
	</div>
	<!-- } -->
	<div class="code__line">
		<span class="code__brace">}</span>
	</div>
	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/phusion-vue" class="computer__screen-cta">Next</router-link>

</div>
