<div>

	<!-- Page container -->
	<div class="container">

		<div class="row">

			<div class="shelf shelf--left">
				<div class="book book--green book--medium"></div>
				<div class="book book--yellow book--large"></div>
				<div class="book book--orange book--small"></div>
				<div class="book book--red book--large"></div>
				<div class="book book--grey book--medium"></div>
				<div class="book book--blue book--small"></div>
				<div class="book book--red book--large"></div>
			</div>

			<div class="clipboard">

				<h3 class="clipboard__title">
					Vue.js & Phusion
				</h3>

				<div class="hr"></div>

				<ul class="checklist">
					<li>
						<i class="far fa-check-square"></i> TypeScript
					</li>
					<li>
						<i class="far fa-check-square"></i> Vue.js + vue-router
					</li>
					<li>
						<i class="far fa-check-square"></i> webpack
					</li>
					<li>
						<i class="far fa-check-square"></i> Browsersync
					</li>
				</ul>

			</div>

			<div class="clock">
				<div class="clock__hour-hand"></div>
				<div class="clock__minute-hand"></div>
				<div class="clock__second-hand"></div>
				<div class="clock__middle"></div>
			</div>

			<div class="shelf shelf--right">
				<div class="file file--red"></div>
				<div class="file file--yellow"></div>
				<div class="file file--orange"></div>
				<div class="file file--green"></div>
			</div>

			<!-- Desk -->
			<div class="desk">

				<!-- Lamp -->
				<div class="lamp">
					<div class="lamp__shade"></div>
					<div class="lamp__top"></div>
					<div class="lamp__top-arm"></div>
					<div class="lamp__hinge"></div>
					<div class="lamp__bottom-arm"></div>
					<div class="lamp__base"></div>
				</div>

				<!-- Computer -->
				<div class="computer">

					<!-- Monitor -->
					<div class="computer__monitor">

						<!-- Screen -->
						<div class="computer__screen">

							<!-- Window -->
							<div class="window">

								<!-- Window Header -->
								<div class="window__header">
									<span class="window__dot"></span>
									<span class="window__dot"></span>
									<span class="window__dot"></span>
								</div>

								<!-- Window Content -->
								<div class="window__content">

									<router-view></router-view>

								</div>
							</div>

						</div>
					</div>
					<!-- Computer stand -->
					<div class="computer__stand"></div>
					<!-- Computer base -->
					<div class="computer__base">
						<div class="computer__base-bottom"></div>
					</div>
					<!-- TODO: Computer shadow -->
					<div class="computer__shadow">

					</div>
				</div>

				<!-- Plant -->
				<div class="plant">

					<!--<div class="plant__cactus"></div>-->
					<!--<div class="plant__cactus"></div>-->
					<!--<div class="plant__cactus"></div>-->

					<div class="plant__stem">
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
						<div class="plant__stem">
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
							<div class="plant__leaf"></div>
						</div>
					</div>


					<div class="plant__pot-top"></div>
					<div class="plant__pot">
						<div class="plant__pot-body"></div>
					</div>

				</div>

			</div>
		</div>





	</div>

</div>