<!-- Code -->
<div class="code">
	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- // You're all set... -->
	<div class="code__line">
		<span class="code__comment">// Dev Server </span>
	</div>
	<div class="code__line">
		<span class="code__comment">// Powered by Browsersync, with</span>
	</div>
	<div class="code__line">
		<span class="code__comment">// live reloading by default.</span>
	</div>

	<!-- Empty line -->
	<div class="code__line"></div>
	<!-- while (!succeed) { -->
	<div class="code__line">
		<span class="code__keyword">function</span> <span class="code__function">serve</span><span class="code__parens">(</span><span class="code__parens">)</span>
	</div>
	<div class="code__line">
		<span class="code__brace">{</span>
	</div>
	<div class="code__line">
		<span class="code__space">&nbsp;</span>
		<span class="code__keyword">return</span> <span class="code__keyword">new</span> Promise<span class="parens">(</span>resolve, reject<span class="parens">)</span>
	</div>
	<div class="code__line">
		&nbsp;&nbsp;<span class="code__brace">{</span>
	</div>
	<div class="code__line">
		<span class="code__space">&nbsp;</span>
		&nbsp;&nbsp;devServerTask.<span class="code__function">run</span><span class="parens">(</span><span class="parens">)</span>
	</div>
	<div class="code__line">
		&nbsp;&nbsp;<span class="code__brace">}</span>
	</div>
	<!-- } -->
	<div class="code__line">
		<span class="code__brace">}</span>
	</div>
	<!-- Empty lines -->
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>

	<div class="code__line"></div>
	<div class="code__line"></div>
	<div class="code__line"></div>

	<router-link to="/happy-coding" class="computer__screen-cta">Next</router-link>

</div>
